name: Build Electron App

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Baixar código
        uses: actions/checkout@v3

      - name: Instalar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Instalar dependências
        run: npm install

      - name: Build do app
        run: npm run build

      - name: Gerar instalador
        run: npm run dist

      - name: Enviar instalador como artefato
        uses: actions/upload-artifact@v3
        with:
          name: instalador
          path: dist/*.exe
